<form>

  <div class="form-group">
  <label for="StudName">Student Name</label>
  <input required ngModel name="StudName" #name="ngModel" id="StudName" (change)="LogChange(name)" type="text" class="form-control">
  
  <label for="Add">Address</label>
  <input required ngModel name="Add" #name="ngModel" id="Add" (change)="LogChange(name)" type="text" class="form-control">
    
  <label >Gender</label>
  <div class="radio">
    <label><input type="radio" name="optradio">Male</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">Female</label>
  </div>
    
  <label for="Mob">Mobile No</label>
  <input required ngModel name="Mob" #name="ngModel" id="Mob" (change)="LogChange(name)" type="number" size="10" class="form-control">
    
  <label for="Clgname">College Name</label>
  <input required ngModel name="Clgname" #name="ngModel" id="Clgname" (change)="LogChange(name)" type="text" class="form-control">
    
  <label for="Email">Email Id</label>
    <input  required ngModel name="Email" #name="ngModel" id="Email" type="email" class="form-control">
    
  <label for="Batch">Batch Name</label>
  <input required ngModel name="Batch" #name="ngModel" id="Batch" (change)="LogChange(name)" type="text" class="form-control">
    

</div>
<div>
  <button type="submit" class="btn btn-default">Submit</button>
</div>

</form>
